*{
  margin: 0;
  padding: 0;
}
.theGame{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  align-items: center;
  height: 100vh;
  margin: auto;
}
.tic-tac{
  padding: 20px;
  background-color: gray;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 80px 80px 80px;
  justify-content: center;
}
.tic-tac > div{
  background-color: white;
  border: 1px solid black;
  height: 80px;
  width: 80px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}
.tic-tac > div > span{
  text-align: center;
  font-size: 60px;
}
.score-container{
  padding: 5px;
  background-color: lightgray;
  width: 100%;
}
.score-container>div{
  background-color: brown;
  padding: 10px;
  font-size: larger;
  margin: 8px;
}
.score-container > div >input{
  background-color: transparent;
  padding: 3px;
  width: 90%;
  margin-top: 10px;
}


.reset-btn{
  margin-top: 10px;
  padding: 10px;
  background-color: red;
  margin-right: 20px;
}
.config{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
#p1,#p2{
  color: black;
  font-size: larger;
  font-weight: 700;
  border: none;
}
.start-new-game-btn{
  margin-top: 10px;
  padding: 10px;
  background-color: green;
  
}
.newRound-btn{
  margin-top: 10px;
  padding: 4px;
  background-color: yellowgreen;
  border: none;
  border-radius: 5px;
  justify-self: start;
  align-self: flex-start;
  cursor: pointer;
  margin-left: 8px;
}
.congo{
  background-color: cyan !important;
  text-align: center;
  font-weight: 600;
}
.congo>p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .theGame{
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: black;
    align-items: center;
    height: 100vh;
    margin: auto;
  }
  
}